@model IEnumerable<Career_Guidance_Platform.Models.Test>

@{
    ViewData["Title"] = "Career Tests";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h1>Career Tests</h1>

<p>
    <a asp-action="CreateTest">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.First().Title)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                <a asp-action="EditTest" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="TestDetails" asp-route-id="@item.Id">Details</a> |
                <a asp-action="DeleteTest" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
